<h1>Ajouter une tâche</h1>
<form>
    <label for="title">
        Titre de la tache
    <br>
    <input type="text" id="title" name="title">
    <br>
    <label for="description">
        Description de la tache
    <br>
    <input type="text" id="description" name="description">
    <br>
    <label for="deadline">
        Date limite
    <br>
    <input type="date" id="deadline" name="deadline">
    <br>
    <input type="submit" value="Submit">
    <br>
    <br>
<a href="/">
    Retour à l'accueil

</form>