<!DOCTYPE html>
<html>
  <head>
    <title>TaskMaster</title>
  </head>
  <body>
    <h1>TaskMaster</h1>
    <p>La date actuelle est <strong><%= Time.now %></strong>.</p>
    <p>
      <a href="/tasks/new">Ajouter une tâche</a>
    </p>
  </body>
</html>